<!doctype html>
<html lang="">
  <head>
    <title>Test application</title>
    {{ stylesheet_tag('app') | safe }}
  </head>
  <body>
    <div id="container" />
    {{ javascript_tag('app') | safe }}
  </body>
</html>
